{% extends "base.html" %}

{%block content%}
  <a href="{{ url_for('get_index') }}" class="btn btn-link">Вернуться на главную</a>
  <div>
    <table class="table table-bordered">
      <h1>Сайт: {{ url.name }}</h1>
      <tr>
        <td>ID</td>
        <td>{{url.id}}</td>
      </tr>
      <tr>
        <td>Имя</td>
        <td>{{url.name}}</td>
      </tr>
      <tr>
        <td>Дата создания</td>
        <td>{{url.created_at}}</td>
      </tr>
    </table>
  </div>

  <div>
    <h2>Проверки</h2>

    <form action="{{url_for('check_url', id = url.id)}}" method="post">
      <button type="submit" class="btn btn-primary">Запустить проверку</button>
    </form>

    <table class="table table-striped" data-test="checks">
      <thead>
        <tr>
          <th>ID</th>
          <th>Код ответа</th>
          <th>h1</th>
          <th>title</th>
          <th>description</th>
          <th>Дата проверки</th>
        </tr>
      </thead>
      <tbody>
        {% for check in url.checks %}
        <tr>
          <td>{{ check.id }}</td>
          <td>{{ check.status_code or 'N/A'}}</td>
          <td>{{ check.h1 or 'N/A'}}</td>
          <td>{{ check.title or 'N/A'}}</td>
          <td>{{ check.description or 'N/A'}}</td>
          <td>{{ check.created_at or 'N/A'}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{%endblock%}
