{% extends "base.html" %}

{%block title%}Главная страница{%endblock%}

{%block content%}
  <form action="{{ url_for('add_url') }}" method="post">
      <div>
          <label>URL
              <input type="url" name="name" value="{{ url.name }}">
          </label>
          {% if errors.name %}
              <div class="text-danger">{{ errors.name }}</div>
          {% endif %}
      </div>
      <input type="submit" value="Create" class="btn btn-primary">
  </form>
  <form action="{{url_for("show_urls")}}" method="get">
      <input type="submit" value="Show urls" class="btn btn-secondary">
  </form>
{%endblock%}
